<section class="main-layout">
  <aside class="main-sidebar">

    <div>
      <div class="brand">
        <div class="brand-icon">
          <mat-icon>shield</mat-icon>
        </div>

        <div>
          <h1>Mythic Gates</h1>
          <p>Hero Command</p>
        </div>
      </div>

      <nav class="main-nav">

        <a routerLink="/game/dashboard" routerLinkActive="active">
          <mat-icon>home</mat-icon>
          <span>Dashboard</span>
        </a>

        <a routerLink="/game/characters" routerLinkActive="active">
          <mat-icon>groups</mat-icon>
          <span>Characters</span>
        </a>

        <a routerLink="/game/bosses" routerLinkActive="active">
          <mat-icon>visibility</mat-icon>
          <span>Bosses</span>
        </a>

        <a routerLink="/game/battles" routerLinkActive="active">
          <mat-icon>sports_martial_arts</mat-icon>
          <span>Battles</span>
        </a>

        <a routerLink="/game/shop" routerLinkActive="active">
          <mat-icon>storefront</mat-icon>
          <span>Shop</span>
        </a>

      </nav>
    </div>


    <div class="sidebar-footer">

      <div class="sidebar-user">

        <div class="avatar">
          <mat-icon>person</mat-icon>
        </div>

        <div class="user-info">
          <span class="username">{{ user()?.username }}</span>
        </div>

      </div>

      <div class="sidebar-stats">

        <div class="stat">
          <mat-icon>paid</mat-icon>
          <strong>{{ user()?.gold }}</strong>
        </div>

        <div class="stat">
          <mat-icon>emoji_events</mat-icon>
          <strong>{{ user()?.bossesDefeated }}</strong>
        </div>

      </div>

      <app-logout></app-logout>

    </div>

  </aside>

  <main class="main-container">
    <section class="main-content" [class.has-overlay]="hasOverlay">
      <router-outlet/>
    </section>
  </main>
</section>
